@mixin card-dimension($card-dimenstion: 300px)
    width: $card-dimenstion
    height: 550px
    border: 2px red solid
    font-family: 'Lexend Deca', sans-serif
    color: hsla(0, 0%, 100%, 0.75)

* 
    margin: 0
    padding: 0
    box-sizing: border-box

main 
    height: 100vh
    font-size: 15px

.attribution 
    font-size: 11px
    text-align: center
    a 
        color: hsl(228, 45%, 44%)

footer 
    position: fixed
    bottom: 0

.container
    display: flex
    justify-content: center
    align-items: center
    min-width: 400px

.card-title 
    font-family: 'Big Shoulders Display', cursive
    color: hsl(0, 0%, 95%)
    
.sedan 
    @include card-dimension
    background-color: hsl(31, 77%, 52%)

.suv 
    @include card-dimension
    background-color: hsl(184, 100%, 22%)

.luxury
    @include card-dimension
    background-color: hsl(179, 100%, 13%)