@mixin card-layout($card-layout: 300px)
    width: $card-layout
    height: 465px
    font-family: 'Lexend Deca', sans-serif
    color: hsla(0, 0%, 100%, 0.75)
    padding: 50px
    display: flex
    flex-direction: column
    justify-content: space-between

@mixin btn-layout($btn-layout: $bright-orange)
    color: $btn-layout
    background-color: hsl(0, 0%, 95%)
    padding: 10px 25px
    border-radius: 50px
    border: 2px solid hsla(0, 0%, 100%, 0.75)
    font-family: 'Lexend Deca', sans-serif


@mixin btn-hover($btn-hover: $bright-orange)
    background-color: $btn-hover
    color: $transparent-white

$bright-orange: hsl(31, 77%, 52%)
$dark-cyan: hsl(184, 100%, 22%)
$very-dark-cyan: hsl(179, 100%, 13%)
$transparent-white: hsla(0, 0%, 100%, 0.75)
  
* 
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    font-size: 15px

main 
    height: 100vh

p 
   line-height: 1.6
   font-size: 14px

.attribution 
    font-size: 13px
    text-align: center
    a 
        color: hsl(228, 45%, 44%)

footer 
    position: fixed
    bottom: 0

.container
    display: flex
    justify-content: center
    align-items: center
    min-width: 400px

.card-title 
    font-family: 'Big Shoulders Display', cursive
    color: hsl(0, 0%, 95%)
    font-size: 2.1em
    margin: 30px 0
    
.sedan 
    @include card-layout
    background-color: $bright-orange
    border-radius: 10px 0 0 10px

.suv 
    @include card-layout
    background-color: $dark-cyan

.luxury
    @include card-layout
    background-color: $very-dark-cyan
    border-radius: 0 10px 10px 0

 
.sedan-btn
    @include btn-layout
    
.suv-btn
    @include btn-layout($btn-layout: $dark-cyan)

.luxury-btn 
    @include btn-layout($btn-layout: $very-dark-cyan)



.sedan-btn:hover 
   @include btn-hover

.suv-btn:hover  
    @include btn-hover($btn-hover: $dark-cyan)


.luxury-btn:hover
   @include btn-hover($btn-hover: $very-dark-cyan)

@media screen and (max-width: 700px) 
    .container 
        all: initial
        display: flex
        flex-direction: column
        align-items: center 
        margin: 20px 0

    .sedan
        border-radius: 10px 10px 0 0

    .luxury
        border-radius: 0 0 10px 10px
    footer 
        all: unset
  
